<div id="addraise_page" class="admin_content_template">
    <div class="admin_content_innerBox admin_ui_cont_bottomPadding">
        <div class="admin_scrollBox">
            <div class="admin_ui_header">
                <i class="fa fa-shopping-bag fa-2x admin_ui_mainColor"></i>
                <span class="maintitle">新增项目发标</span>
            </div>
            <div class="admin_ui_cont">
                <div class="admin_ui_border admin_ui_cont">
                    <table class="admin_ui_table_split_half">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="admin_ui_form_field">
                                        <div class="admin_ui_name">项目名称</div>
                                        <input type="text" class="admin_ui_input" v-model="project_name">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="admin_ui_form_field">
                                        <div class="admin_ui_name">分类</div>
                                        <div v-for="option in options">
                                        	<input type="radio" name="raiseoption" :id="'raise_'+$index" v-model="project_type">
                                        	<label for="sort_1">车易贷</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="admin_ui_form_field">
                                        <div class="admin_ui_name">背景描述</div>
                                        <textarea id="project_background"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="admin_ui_form_field">
                                        <div class="admin_ui_name">详细信息</div>
                                        <textarea id="project_detail"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="admin_ui_cont_bottomFixed">
        <div class="admin_ui_button_group" style="float: right">
            <a href="#/raise.html" class="admin_ui_button admin_ui_button_white">
				返回
			</a>
            <div class="admin_ui_button admin_ui_button_green editBrandButton">
                保存
            </div>
        </div>
    </div>
    <input name="file" type="file" id="img_upload" style="display:none;">
</div>
<script>
	var ret = uploadFactory('img_upload')

	new Vue({
		el: '#addraise_page',
		data: function(){
			return {
				options: [],
				project_name: "",
				project_type: ""
			}
		},
		ready: function(){
			var id = getQueryVariable('id')
			var self = this

			ajaxP('/MatchAdmin/P2P/P2PTagList').then(function(options){
				self.options = options
				return Promise.resolve()
			}).then(function(){
				if (id === false) {
					ajaxP('/MatchAdmin/P2P/P2Pinfo', {
						type: 5, id: id
					}).then(function(res){
						
					})
				}
			})
		}
	})
	tinymce.init({
		selector: 'textarea',
		language: 'zh_CN',
		plugins: ['image'],
		file_browser_callback: ret.callback,
		height: 300
	}).then(function(editors){
		var background_editor = editors[0]
		var detail_editor = editors[1]


	})
</script>