<div class="admin_content_innerBox admin_ui_cont_bottomPadding" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-shopping-bag fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">公益设计</span>
		</div>	
		<div class="admin_ui_cont" id="charity_content">
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>队伍名称</th>
						<th>学校</th>
						<th>项目名称</th>
						<th>微信得票</th>
						<th>得分</th>
						<th>截止时间</th>
					</tr>
				</thead>
				<tbody class="admin_ui_table_hoverEffect">
					<tr v-for="list in lists">
						<td>{{list.account}}</td>
						<td>{{list.school_name}}</td>
						<td>{{list.name}}</td>
						<td>
							{{list.votes}}
						</td>
						<td>
							{{list.score}}
							<!-- <input type="number" v-model="list.score" v-if="list.name"> -->
							<!-- <div class="iconButton checkIcon" @click="changePoints(list.id,list.score)" v-if="list.name">
								<i class="fa fa-pencil"></i>
								修改
							</div> -->
						</td>
						<td>
							{{timestampFormat(list.vote_time)}}
						</td>
					</tr>
				</tbody>
			</table>
			<div style="margin-top:20px;">
				<div class="ne-input-date">
					修改截止时间
					<input id="inputtime" type="text" class="ne-input" @focus="popDatepicker" v-model="time">
				</div>
				<div class="iconButton checkIcon" @click="changeTime(time)">
					<i class="fa fa-pencil"></i>
					确认
				</div>
			</div>
			<!-- <div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div> -->
		</div>
	</div>
</div>
<script>
	new Vue({
		el: '#charity_content',
		data: function(){
			return{
				lists:[],
				time:""
			}
		},
		methods:{
			changeTime:function(time){
				var self = this
				ajaxP('/MatchAdmin/index/VoteTimeSet',{
					"time":time,
				}).then(function(data){
					alert("修改成功")
					ajaxP('/MatchAdmin/peer/CrowdfundingcList').then(function(data){
						self.lists = data
					})
				}).catch(function(e){
					alert(e.message)
				})
			},
			popDatepicker: function(){
				var self = this
				var options = {
					el: inputtime
				}
				WdatePicker(options)
			},
			timestampFormat:function(timestamp){
				var _date = new Date()
				var date = _date
				date.setTime(Number.parseInt(timestamp))
				var year = date.getFullYear()
				var month = "0" + (date.getMonth()+1)
				var hours = "0" + date.getHours()
				var minutes = "0" + date.getMinutes()
				var date = "0" + date.getUTCDate()
				return year + '-' + 
					month.substr(-2) + '-' + 
					date.substr(-2) + ' ' + 
					hours.substr(-2) + ":" + 
					minutes.substr(-2)
			},
			changePoints:function(id,score){
				var self = this
				ajaxP('/MatchAdmin/peer/CrowdfundingcScoreInput',{
					"id":id,
					"score":score
				}).then(function(data){
					alert("修改成功")
					ajaxP('/MatchAdmin/peer/CrowdfundingcList').then(function(data){
						self.lists = data
					})
				}).catch(function(e){
					alert(e.message)
				})
			}
		},
		ready: function(){
			var self = this
			ajaxP('/MatchAdmin/peer/CrowdfundingcList').then(function(data){
				self.lists = data
			})
		}
	})
</script>
<style lang="less">
	.ne-input-date {
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}

	.ne-input-date input {
		padding-right: 20px;
		position: relative;
		background-color: transparent;
		z-index: 10;
		border: 1px solid #ccc
	}
</style>