<div class="admin_content_innerBox admin_ui_cont_bottomPadding" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-shopping-bag fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">公益设计</span>
		</div>	
		<div class="admin_ui_cont">
			<table class="admin_ui_table" id="charity_content">
				<thead>
					<tr>
						<th>队伍名称</th>
						<th>学校</th>
						<th>项目名称</th>
						<th>微信得票</th>
						<th>得分</th>
					</tr>
				</thead>
				<tbody class="admin_ui_table_hoverEffect">
					<tr v-for="list in lists">
						<td>{{list.account}}</td>
						<td>{{list.school_name}}</td>
						<td>{{list.name}}</td>
						<td>
							{{list.vote}}
						</td>
						<td>
							<input type="number" v-model="list.score" v-if="list.name">
							<div class="iconButton checkIcon" @click="changePoints(list.id,list.score)" v-if="list.name">
								<i class="fa fa-pencil"></i>
								修改
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- <div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div> -->
		</div>
	</div>
</div>
<script>
	new Vue({
		el: '#charity_content',
		data: function(){
			return{
				lists:[]
			}
		},
		methods:{
			changePoints:function(id,score){
				var self = this
				ajaxP('/MatchAdmin/peer/CrowdfundingcScoreInput',{
					"id":id,
					"score":score
				}).then(function(data){
					alert("修改成功")
					ajaxP('/MatchAdmin/peer/CrowdfundingcList').then(function(data){
						self.lists = data
					})
				}).catch(function(e){
					alert(e.message)
				})
			}
		},
		ready: function(){
			var self = this
			ajaxP('/MatchAdmin/peer/CrowdfundingcList').then(function(data){
				self.lists = data
			})
		}
	})
</script>