<div class="admin_content_innerBox" id="item_point_page">
	<div class="admin_scrollBox">
		<div class="admin_ui_cont" style="padding-bottom: 70px;">
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>队伍名称</th>
						<th>学校</th>
						<th>题目名称</th>
						<th>查看</th>
						<th style="width:150px;">得分</th>
					</tr>
				</thead>
				<tbody id="userManagement_userData" class="admin_ui_table_hoverEffect">
					<tr v-for="item in list">
						<td>{{item.account}}</td>
						<td>{{item.school_name}}</td>
						<td>{{item.name}}</td>
						<td>
							<a style="color: #419bf9" :href="'/match/index.html#/cf-item/check?id='+item.relation_id+'&relation_id='+item.redirect_id" v-if="item.isfinished==2">
								评阅地址
							</a>
							<div v-else>评阅地址</div>
						</td>
						<td v-if="item.score != null"><span v-if="item.isfinished==2">{{item.score}}</span></td>
						<td v-else>
							<a style="color:#419bf9" :href="'#/points-detail.html?type=item&id=' + item.id" v-if="item.isfinished==2">请输入</a>
							<div v-else>未完成</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="admin_ui_cont_bottomFixed">
		<div class="admin_ui_button_group" style="float: right">
			<a class="admin_ui_button admin_ui_button_white" href="#/item.html">
				返回
			</a>
		</div>
	</div>
</div>
<script>
	new Vue({
		el: '#item_point_page',
		data: function(){
			return {
				list: [],
				score: "",
				uploading: false
			}
		},
		ready: function(){
			var self = this
			ajaxP('/MatchAdmin/index/ScoreList', {
				type: 2
			}).then(function(res){
				res.forEach(function(item){
					item.score_ = ""
				})
				self.list = res
			})
		}
	})
</script>