<div class="admin_content_innerBox" id="raise_point_page">
	<div class="admin_scrollBox">
		<div class="admin_ui_cont" style="padding-bottom: 70px;">
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>队伍名称</th>
						<th>学校</th>
						<th>题目名称</th>
						<th>查看</th>
						<th style="width:150px;">得分</th>
					</tr>
				</thead>
				<tbody id="userManagement_userData" class="admin_ui_table_hoverEffect">
					<tr v-for="item in list">
						<td>{{item.account}}</td>
						<td>{{item.school_name}}</td>
						<td>{{item.name}}</td>
						<td v-if="item.isfinished != 1"><a target="_blank" style="color: #419bf9" :href="'/match/#/p2p-raise/check?id=' + item.relation_id + '&relation_id=' + item.redirect_id">查阅地址</a></td>
						<td v-if="item.isfinished == 1">查阅地址</td>
						<td v-if="item.score != null">{{item.score}}</td>
						<td v-else>
							<a style="color: #419bf9" :href="'#/points-detail.html?type=raise&id=' + item.id" v-if = 'item.isfinished==2'>请输入</a>
							<div v-else>未完成</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="admin_ui_cont_bottomFixed">
		<div class="admin_ui_button_group" style="float: right">
			<a class="admin_ui_button admin_ui_button_white" href="#/raise.html">
				返回
			</a>
		</div>
	</div>
</div>
<script>
	new Vue({
		el: '#raise_point_page',
		data: function(){
			return {
				list: [],
				score: "",
				uploading: false
			}
		},
		ready: function(){
			var self = this
			ajaxP('/MatchAdmin/index/ScoreList', {
				type: 3
			}).then(function(res){
				res.forEach(function(item){
					item.score_ = ""
				})
				self.list = res
			})
		}
	})
</script>