<div id="addraise_page" class="admin_content_template">
    <div class="admin_content_innerBox admin_ui_cont_bottomPadding">
        <div class="admin_scrollBox">
            <div class="admin_ui_header">
                <i class="fa fa-shopping-bag fa-2x admin_ui_mainColor"></i>
                <span class="maintitle">项目发标{{title}}</span>
            </div>
            <div class="admin_ui_cont">
                <div class="admin_ui_border admin_ui_cont">
                    <table class="admin_ui_table_split_half">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="admin_ui_form_field">
                                        <div class="admin_ui_name">项目名称</div>
                                        <input type="text" class="admin_ui_input" v-model="name">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="admin_ui_form_field">
                                        <div class="admin_ui_name">分类</div>
                                        <div v-for="option in options" style="display:inline-block;margin-right:10px;">
                                        	<input type="radio" name="raiseoption" :id="'raise_'+$index" v-model="type" :value="option.id">
                                        	<label :for="'raise_' + $index">{{option.name}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="admin_ui_form_field">
                                        <div class="admin_ui_name">背景描述</div>
                                        <textarea id="project_background"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="admin_ui_form_field">
                                        <div class="admin_ui_name">详细信息</div>
                                        <textarea id="project_detail"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="admin_ui_cont_bottomFixed">
        <div class="admin_ui_button_group" style="float: right">
            <a href="#/raise.html" class="admin_ui_button admin_ui_button_white">
				返回
			</a>
            <div @click="save" class="admin_ui_button admin_ui_button_green editBrandButton">
                保存
            </div>
        </div>
    </div>
    <input name="file" type="file" id="img_upload" style="display:none;">
</div>
<script>
	var ret = uploadFactory('img_upload')

	new Vue({
		el: '#addraise_page',
		data: function(){
			return {
                id: "-1",
				options: [],
				name: "",
				type: ""
			}
		},
        methods: {
            save: function(){
                var isAdd = this.id === ""
                if (isAdd) {
                    if (!confirm('确定新增项目?')) {
                        return
                    }
                } else {
                    if (!confirm('确定修改项目')) {
                        return
                    }
                }
                var options = {
                    tag_id: this.type,
                    type: 3,
                    name: this.name,
                    background: this.background_editor.getContent(),
                    detail: this.detail_editor.getContent()
                }
                if (!isAdd) {
                    options.id = this.id
                }
                ajaxP('/MatchAdmin/index/DesignProModify', options).then(function(){
                    window.location = '#/raise.html' 
                }).catch(function(e){
                    alert((isAdd ? '新增失败' : '修改失败') + (e.message ? ', 原因:' + e.message : ""))
                })

            }
        },
        computed: {
            title: function(){
                var id = this.id
                if (id === "-1") { return "" } else if (id === '') { return " - 新增" } else { return " - 修改"}
            }
        },
		ready: function(){
            var $vm = this 

            var background_editor = new tinymce.Editor('project_background', {
                selector: '#project_background',
                language: 'zh_CN',
                plugins: ['image'],
                file_browser_callback: ret.callback,
                height: 400
            }, tinymce.EditorManager)
            
            background_editor.render()

            $vm.background_editor = background_editor

            var detail_editor = new tinymce.Editor('project_detail', {
                selector: '#project_detail',
                language: 'zh_CN',
                plugins: ['image'],
                file_browser_callback: ret.callback,
                height: 400
            }, tinymce.EditorManager)
            
            detail_editor.render()

            $vm.detail_editor = detail_editor

            var id = getQueryVariable('id')

            ajaxP('/MatchAdmin/P2P/P2PTagList').then(function(options){
                $vm.options = options
                return Promise.resolve()
            }).then(function(){
                if (id === false) {
                    $vm.id = ""
                } else {
                    $vm.id = id 
                    ajaxP('/MatchAdmin/index/DesignInfo', {
                        id: id
                    }).then(function(res){
                        $vm.name = res.name
                        $vm.type = res.tag_id
                        $vm.detail_editor.setContent(unescapeHTML(res.detail))
                        $vm.background_editor.setContent(unescapeHTML(res.background))
                    })
                }
            })

		}
	})
</script>