<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../source/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../source/plunges/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../source/css/sign_in.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
	<script src="../source/js/ajax.js"></script>
	<script src="../source/js/vue.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="application">
			<a href="sign_in.html"><div class="heart"><i class="fa fa-heart fa-lg"></i></div>
			<span>互联网大赛端后台管理系统</span></a>
		</div>
	</div>
	<div class="controls" style="height:300px;" id="sign_in_vue">
		<div class="caret"></div>
		<div class="form-wrapper">
			<h1>登录</h1>
			<div class="gd">
				<input type="text" class="denglu" placeholder="用户名" id="mail" v-model="mail">
				<i class="fa fa-user user" ></i>
			</div>
			<div class="gd">
				<input type="password" class="denglu" placeholder="密码" id="pass" v-model="pass">
				<i class="fa fa-lock user" ></i>
			</div>
			
			<a id="loginButton" class="btn" style="cursor:pointer" @click="sign_in">登录</a>
			
		</div>
	</div>
<script>
new Vue({
	el: '#sign_in_vue',
	data: function(){
		return{
			mail:'',
			pass:''
		}
	},
	methods: {
	    sign_in:function(){
	    	var self = this
	    	ajaxP('/MatchAdmin/log/Login',{
	    		'account':self.mail,
	    		'password':self.pass
	    	}).then(function(){
				window.location = 'index.html'
			})
	    }
	}
})

</script>
</body>
</html>