<div class="admin_content_innerBox admin_ui_cont_bottomPadding" >
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-shopping-bag fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">选手信息</span>
		</div>	
		<div class="admin_ui_cont" id="user_content">
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>名次</th>
						<th>队伍名称</th>
						<th>学校</th>
						<th>总分</th>
						<th>队伍信息</th>
					</tr>
				</thead>
				<tbody class="admin_ui_table_hoverEffect">
					<tr v-for="list in lists">
						<td>{{$index+1}}</td>
						<td>{{list.account}}</td>
						<td>{{list.school_name}}</td>
						<td>{{list.totalscore}}</td>
						<td>
							<a :href="'#/userdetail.html?id='+list.id+'&pos='+$index" class="iconButton checkIcon">
								<i class="fa fa-pencil"></i>
								查看
							</a>
							<div class="iconButton checkIcon" >
								<input v-model="list.reward">
								<span @click="printPaper(list.id,list.reward)">
								<i class="fa fa-pencil"></i>
								打印证书
								</span>
							</div>
							<div class="iconButton removeIcon">
								<i class="fa fa-remove"></i>
								删除
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- <div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div> -->
		</div>
	</div>
</div>
<div class="admin_ui_cont_bottomFixed" id="admin_ui_cont_bottomFixed">
	<div class="admin_ui_button_group" style="float: right">
		<input id="objective_import" type="file" style="display:none;" @change="import">
		<label for="objective_import" class="admin_ui_button admin_ui_button_green" @click="confirm">
			导入信息
		</label>
	</div>
</div>
<canvas id="certificateCanvas" style="display:none"></canvas>
<script>
new Vue({
	el: '#user_content',
	data: function(){
		return{
			lists:[]
		}
	},
	methods:{
		printPaper:function(id,reward){
			ajaxP('/MatchAdmin/index/CertificationPrint', {
				'id':[id]
			}).then(function(res){
				console.log(res[0])
				var myDate = new Date();
				var month = myDate.getMonth() - 0 + 1;
				var day = myDate.getDate();
				createCanvas(res[0].school_name,res[0].members,res[0].teacher,month,day,reward,res[0].code)	
			})
		}
	},
	ready: function(){
		var self = this
		ajaxP('/MatchAdmin/index/UserInfo').then(function(data){
			self.lists = data
		})
	}
})
new Vue({
	el: '#admin_ui_cont_bottomFixed',
	data: function(){
		return {
			
		}
	},
	methods: {
		confirm: function(event){
			if(confirm('最新导入信息将覆盖原有信息')) {
				return true
			} else {
				event.preventDefault()
			}
		},
		import: function(e){
			var formData = new FormData()
			formData.append('file_stu', e.target.files[0])
			ajaxP('/MatchAdmin/index/AccountImport', formData, {
				//multipart/form-data
				type: "POST",
				processData: false,
				contentType: false,
				cache: false
			}).then(function(res){
				// window.location.reload()
			}).catch(function(e){
				alert('导入失败' + (e.message ? ': ' + e.message : ""))
			})
		}
	},
	ready: function(){
	}
})
var createCanvas = function(schoolname, playername, teachername, month, day, reward , code) {
    var canvas = document.getElementById("certificateCanvas");
    var cxt = canvas.getContext('2d');
    canvas.width = 1718;
    canvas.height = 1277;
    var img = new Image();
    var seal = new Image();
    seal.src = "../source/images/printReward.jpg";
    var place = [{ pic: "../source/images/printReward.jpg", schoolname: [520, 640], month: [1323, 1065], day: [1422, 1065], playername: [520, 735], teachername: [520, 830], reward:[515,540], code:[1123,1150]}];
    img.src = place[0].pic;
    img.onload = function() {
        var textFont = fontText(name, 11);
        cxt.drawImage(img, 0, 0);
        cxt.font = "bold " + textFont + " simsun";
        cxt.fillStyle = "#333";
        cxt.font = "3rem SimSun";
        cxt.fillText(schoolname, place[0].schoolname[0], place[0].schoolname[1]);
        cxt.fillText(playername, place[0].playername[0], place[0].playername[1]);
        cxt.fillText(teachername, place[0].teachername[0], place[0].teachername[1]);
        cxt.fillText(month, place[0].month[0], place[0].month[1]);
        cxt.fillText(day, place[0].day[0], place[0].day[1]);
        cxt.fillText(reward, place[0].reward[0], place[0].reward[1]);
        cxt.fillText(code, place[0].code[0], place[0].code[1]);
        $.ajax({
            url: "/home/asist/photo_upload",
            type: "POST",
            data: {
                "file": canvas.toDataURL("image/jpeg", 0.7).split(',')[1],
                'type':2
            },
            success: function(data) {
                console.log(data);
                window.open(data)              
            }
        });
    }
    function fontText(el, size) {
        var per;
        zh = el.match(/[\u4e00-\u9fa5]/gm);
        if (zh) {
            per = zh.length / el.length;
        } else {
            per = 0;
        }
        if (el.length <= 4) {
            font = 1.5;
        } else {
            console.log(per, length);
            font = size / el.length / (1 + per);
        }
        return font + "rem";
    }
};
</script>